<!DOCTYPE html>

<html>

    <head>

        <meta charset="UTF-8">
        
        <meta name="format-detection" content="telephone=no"> <!-- Cái này để không display số điện thoại thành link-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link rel="stylesheet" type="text/css" href="css/mix.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    </head>

    <body>
        
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container"> 
                <a class="navbar-brand" href="/">SEN TRANG</a>

                

                <div class="collapse navbar-collapse" id="collapsibleNavId">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">About</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Pricing</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Contact us</a>
                        </li>
                    </ul>
                            
                        
                </div>
                <a href="/logout"><button class="btn my-sm-0">Logout</button></a>
                <button class="navbar-toggler" data-target="#collapsibleNavId" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="" role="button" ><i class="fa fa-bars" aria-hidden="true" style="color:black; font-weight: lighter;"></i></span>

                </button>


            </div>
            
            
        </nav>
        
        <main class="content">
            <div class="container">
                <div class="row">
                        <div class="col-md-4 col-sm-12">

                            <img class="img-profile" src="img/profile.jpg">
                            <h2 style="margin-top: 15px;"  class="h3-content-user">
                                Tran Nguyen Sinh
                            </h2>
                            <form action="/update" method="POST">
                                <input type="submit" class="btn btn-default" style="width: 75%; border: 1px solid black; margin-bottom: 40px;" value="Edit profile">
                            </form>
                        </div>

                    <div class="col-md-8 col-sm-12 info-user">
                        <h3 class="h3-content-user"><strong>Job : </strong>Website Developer</h3>
                        <h3 class="h3-content-user"><strong>Email : </strong>example@email.com</h3>
                        <h3 class="h3-content-user"><strong>Phone : </strong>0912345677</h3>
                        <h3 class="h3-content-user"><strong>Working from : </strong>24/12/2000</h3>
                        <h3 class="h3-content-user"><strong>Address : </strong>123 Demo Street HCMC</h3>
                        
                    </div>
                </div>

            </div>
        </main>


        

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    
    </body>

</html>